body{
    font-family: 'Noto Sans JP', sans-serif;
}

#Timer {
    color: red;
    font-size: larger;
}

h1 {
    color: royalblue;
}

.container {
    text-align: center;
}

#startButton{
    display: block;
    margin: 0 auto;
    color: red;
}

.userResponse{
    display: block;
    margin-top: 10px;
}

.hide {
    display: none;
}

.show {
    display: block;
}



@media screen and (max-width: 992px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}